{% extends '::base.html.twig' %}
{% block body %}
<a class="btn btn-lg btn-success" href="{{ path('ilac_main_new') }}" role="button">{% trans %}GlucoTest{% endtrans %}</a>
  <a class="btn btn-lg btn-success" href="{{ path('ilac_main_new_bolus') }}" role="button">{% trans %}Bolus{% endtrans %}</a>
<div>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>{% trans %}DateTime{% endtrans %}</th>
      <th>{% trans %}Level{% endtrans %}</th>
      <th>{% trans %}Type{% endtrans %}</th>
      <th>{% trans %}Discr{% endtrans %}</th>
    </tr>
    </thead>
    <tbody>
    {% for event in events %}
    <tr>
      <td>{{ event.getCreatedAt|date("Y/m/d H:i") }}</td>
      <td>{{ event.getValue }}</td>
      <td>{{ event.getType }}</td>
      <td>{{ event.getDiscr }}</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
